@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Baloo:400);
@import url(https://fonts.googleapis.com/css?family=Raleway:500,700);

body {
	/*font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-weight:500;*/
	font-family: 'Raleway';
}
p{color:#a19f9f;}

h1, h2, h3, h4, h5, h6 {font-family: 'Baloo';}

.navbar-dark .navbar-nav .nav-link {color:#333;}
.navbar-black .navbar-brand:hover{color:#f56600}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.9rem;
    /*padding-left: .9rem;*/
}
.navbar-dark .navbar-toggler {
    color: #333 !important;
    border-color:#ccc !important;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #e73945;
}
.navbar-toggler-icon{
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,35,47, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.box{
    position: absolute;
	top: 220px;
    left: 800px;
    padding: 70px 30px;
    background-color: #e73945;
    color: #fff;
    text-align: center;
    z-index: 100;
    width: 1px;
    height: 250px;
	border-radius: 4px;
	
	transition: all 2s ease-out; opacity: 0;
}
.delighter.started .box {
	width: 330px; opacity: 1;
}
.sec{
    background-color: #151515;	
	color:#d9d9d9;
	padding-top: 12rem;
	padding-bottom: 12rem;
}
.sec1{	
    background-color: #fff;
	padding-top: 5rem;
	transform: translate(11%,-70px);
    width: 90% !important;	
}
.sec1 h3{color:#333;}
.sec2-top{
	background-color: #fff;
	transform: translate(11%,70px);
	width: 90% !important;
}
.sec2{
    background-color: #151515;	
	color:#d9d9d9;
	padding-top: 10rem;
	padding-bottom: 5rem;
}
.sec2 a{color:#d9d9d9;}
.ban{	
    background: url(../images/bg1.jpg) no-repeat;	
	height: 550px;
	transform: translate(0,70px);
    width: 1px;
	transition: all 2s ease-out; opacity: 0;
}
.delighter.started .ban {
	width: 90%; opacity: 1;
}
.portfolio-1{
	background: url(../images/ban.jpg) no-repeat;
	border-radius: 4px;
	max-width: 100%;
	width: 956px;
	height: 432px;
}
.delighter .portfolio-1 {
	display: block; 
	transition: all 2s ease-out; 
	opacity: 0;
	width: 1px; overflow: hidden;
}
.delighter.started .portfolio-1{
	width: 956px; opacity: 1;
}
.portfolio-2{
	background: url(../images/ban1.jpg) no-repeat;
	border-radius: 4px;
	max-width: 100%;
	width: 956px;
	height: 432px;
}
.delighter .portfolio-2 {
	display: block; 
	transition: all 2s ease-out; 
	opacity: 0;
	width: 1px; overflow: hidden;
}
.delighter.started .portfolio-2{
	width: 956px; opacity: 1;
}

.delighter.bottom { transform:translatey(50%); opacity:0; transition: all .75s ease-out;}
.delighter.bottom.started { transform:none; opacity:1; }

.delighter.bottom-1 { transform:translatey(100%); opacity:0; transition: all .75s ease-out .1s;}
.delighter.bottom-1.started { transform:none; opacity:1;}

.delighter.bottom-2 { transform:translatey(300%); opacity:0; transition: all .75s ease-out; }
.delighter.bottom-2.started { transform:none; opacity:1; }
@media (min-width: 992px) {

}
@media screen and (max-width:750px){
	.box{
		position: relative;
		top: 100px;
		left: 0;
	}
}

